<h1>Sighting: <%= @sighting.location %></h1>
<h2>Animal: <%= @animal.species %></h2>
<h3>Latitude: <%= @sighting.latitude %></h3>
<h3>Longitude: <%= @sighting.longitude %></h3>
<h3>Zipcode: <%= @sighting.zip %></h3>
<h3>Weather: <%= @weather %></h3>


  <p><%= link_to "Return to animal", animal_path(@animal) %></p>

  <% if current_user %>
  <p><%= link_to "Edit sighting", edit_animal_sighting_path(@animal, @sighting) %></p>

  <% if current_user.admin %>
  <p><%= link_to "Delete sighting", animal_sighting_path(@animal, @sighting),
    :data => {:confirm => "Are you sure?",
    :method => "delete"} %></p>

  <% end %>

  <%  end %>
